// base
$font-family: 'Roboto', sans-serif;
$content-width: 1180px;
$container-offset: 20px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$white: #ffffff;
$black: #000000;
$accent: #246CE2;
$accent-hover: #4F8FF6;
$accent-active: #194C9F;
$disabled: #D6D6D6;
$red: #F04438;
$green: #8AC44B;